@model Quileia.Data.Entities.Ciudad
@{
    ViewData["Title"] = "historial";
}

<h1 class="text-center">Historial de la Ciudad</h1>

<div class="d-flex justify-content-center">
    <dl>
        <dt>
            @Html.DisplayNameFor(model=>model.NombreCiudad)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.NombreCiudad)
        </dd>
    </dl>
</div>

<div class="d-flex justify-content-center">
    @if (Model.TuristaCiudades == null || Model.TuristaCiudades.Count == 0)
    {
        <h5>No hay turistas relacionados</h5>
    }
    else
    {

        <table class="table mt-5 col-3 table-hover">
            <thead>
                <tr>
                    <th>
                        Tursitas que han visitado
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TuristaCiudades)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Turista.NombreCompleto)
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    }
    <div>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Volver</a>
    </div>

</div>